<!doctype html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{ifset title}{include title|stripHtml} | {/ifset} Taddoist</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.0.slim.min.js" integrity="sha384-7WBfQYubrFpye+dGHEeA3fHaTy/wpTFhxdjxqvK04e4orV3z+X4XC4qOX3qnkVC6" crossorigin="anonymous" defer></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous" defer></script>

    <link rel="shortcut icon" href="{$basePath}/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{$basePath}/static/css/main.css">
    <script src="{$basePath}/static/js/main.js" defer></script>

</head>

<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" n:href=":Site:"><img alt="Brand" src="{$basePath}/static/favicon-16x16.png"> Taddoist</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {*<li class="{ifCurrent Dashboard:* }active{/ifCurrent}">
                    <a n:href="Dashboard:">Dashboard</a>
                </li>
                <li class="{ifCurrent Field:* }active{/ifCurrent}">
                    <a n:href="Field:">Obory</a>
                </li>
                <li class="{ifCurrent User:* }active{/ifCurrent}">
                    <a n:href="User:">Uživatelé</a>
                </li>
                <li class="{ifCurrent Log:* }active{/ifCurrent}">
                    <a n:href="Log:">Logy</a>
                </li>*}
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {if $user->loggedIn}
                    <li class="navbar-text">
                        <i class="glyphicon glyphicon-user"></i> {$user->id}
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" n:href=":Sign:out">Odhlásit</a>
                    </li>
                {else}
                    <li class="nav-item">
                        <a class="nav-link" n:href=":Sign:google"><i class="glyphicon glyphicon-user"></i> Přihlásit Googlem</a>
                    </li>
                {/if}
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="page-header">
        <h1>
            {ifset title}{include title}{/ifset}
            {ifset subtitle}<small>{include subtitle}</small>{/ifset}
        </h1>
    </div>

    {foreach $flashes as $flash}
        {var $flashClass = "alert-" . $flash->type}
        <div n:class="alert, $flashClass" role="alert">{$flash->message}</div>
    {/foreach}

    {include content}
</div>
<footer>
    <div class="text-center">© 2018 - 2019
        <a href="https://www.jakub-boucek.cz/"> Jakub Bouček</a> |
        <a href="{link :Site:privacy}">Ochrana osobních údajů</a> |
        <a href="https://github.com/jakubboucek/taddoist">GitHub</a> |
        <a href="https://github.com/jakubboucek/taddoist/issues?q=is%3Aissue">Hlášení chyb</a>
    </div>
</footer>
</body>
</html>
