{block title}Taddoist{/block}
{block subtitle} = Add + Todoist{/block}

{block content}
<a href="{link Sign:google}" class="btn btn-primary">Přihlásit přes Google</a>

<a href="{link Sign:todoist}" class="btn btn-default">Připojit Todoist</a>
