{block title}Chyba při vytvoření odkazu{/block}
{block content}

<div class="">
    <div class="panel panel-default">
        <div class="panel-heading">Možnosti</div>
        <div class="panel-body">
            <p>
                <a href="{$retryLink}" class="btn btn-primary">Zkusit odeslat znovu</a>
            </p>
        </div>
    </div>
</div>