{block title}<img src="{$basePath}/static/icon-120.png"> Taddoist{/block}
{block subtitle} = Test logu{/block}

{block content}
<div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <div class="panel panel-default panel-sign">
        <div class="panel-heading">Taddoist</div>
        <div class="panel-body">
            <p>Test logu odeslán</p>
            <p>Obsah logu: {$logContent}</p>
        </div>
    </div>
</div>
